body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-sc::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.custom-sc::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-sc::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
